@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 110.5%;
  @media only screen and (max-width: 87.7em) {
    font-size: 100%;
  }
  @media only screen and (max-width: 76em) {
    font-size: 80%;
  }
}
