// padding
.padding-lr-3 {
  padding: 0 3rem;
}

.padding-lr-1 {
  padding: 0 1rem;
}

// positioning
.position-top {
  align-self: start;
}
.position-down {
  align-self: end;
}

.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// text
.text-center {
  text-align: center;
}
.text-color-primary-light {
  color: $color-primary-light;
}

// Width

.btn-box-width {
  width: 21.8rem;
}

.feature-h2-width {
  width: 27.9rem;
}
