// padding
.padding-lr-3 {
  padding: 0 3rem;
}

.padding-lr-1 {
  padding: 0 1rem;
}

.btn-padding {
  padding: 1rem 1.8rem !important;
}

// margin
.margin-b-6-9 {
  margin-bottom: 6.9rem;
}

.margin-b-4 {
  margin-bottom: 4rem;
}

.margin-b-5 {
  margin-bottom: 5rem;
}

.margin-b-4-5 {
  margin-bottom: 4.5rem;
}

.margin--1-5 {
  margin-bottom: -1.5rem;
}

// positioning
.position-top {
  align-self: start;
}
.position-down {
  align-self: end;
}

.object-position-l--1-9 {
  object-position: -1.9rem 0;
}
.object-position-r-1-9 {
  object-position: 1.9rem 0;
}

// text
.text-center {
  text-align: center;
}
.text-color-primary-light {
  color: $color-primary-light;
}
.text-color-secondary-light {
  color: $color-secondary-light;
}

// Width

.btn-box-width {
  width: 21.8rem;
}

.z-index-5 {
  z-index: 5;
}

.hide {
  @media only screen and (max-width: 76.9em) {
    display: none !important;
  }
}
