// PRIMARY

$color-primary: #4d96a9;
$color-secondary: #855fb1;
$color-tertiary: #28283d;
$color-quaternary: #87879d;

// PRIMARY LIGHT

$color-primary-light: #8fe3f9;
$color-secondary-light: #d9b8ff;

// OTHERS

$color-white: #fafafa;
