
$color-primary: #4d96a9;
$color-secondary: #855fb1;
$color-tertiary: #28283d;
$color-quaternary: #87879d;

// PRIMARY LIGHT

$color-primary-light: #8fe3f9;
$color-primary-light-1: #71c0d4;

// SECONDARY LIGHT

$color-secondary-light: #d9b8ff;
$color-secondary-light-1: #b18bdd;

// OTHERS

$color-white: #fafafa;
