@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-size: 110.5%; }

.padding-lr-3 {
  padding: 0 3rem; }

.position-top {
  align-self: start; }

.position-down {
  align-self: end; }

.flex-center-around-between {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.text-center {
  text-align: center; }

.text-color-primary-light {
  color: #8fe3f9; }

.width-30 {
  width: 25.8rem; }

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

.heading-1 {
  font-size: 4rem;
  line-height: 4.5rem; }
  .heading-1--black {
    color: #28283d; }
  .heading-1--white {
    color: #fafafa; }

.heading-2 {
  font-size: 2.5rem;
  line-height: 2.7rem; }
  .heading-2--black {
    color: #28283d; }
  .heading-2--white {
    color: #fafafa; }

.paragraph {
  font-size: 1.1rem;
  line-height: 1.6rem; }
  .paragraph--gray {
    color: #87879d; }
  .paragraph--white {
    color: #fafafa; }

.small-text {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.6rem;
  letter-spacing: 0.2rem;
  color: #4d96a9; }

.logo__box {
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo__icon {
  height: 100%;
  object-fit: cover; }

.btn {
  padding: 1.5rem 2.75rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  color: #fafafa;
  border: none;
  border-radius: 50rem;
  transition: background-color 300ms ease-in-out; }
  .btn__primary {
    background-color: #4d96a9; }
    .btn__primary:hover {
      background-color: #8fe3f9; }
  .btn__secondary {
    background-color: #855fb1; }
    .btn__secondary:hover {
      background-color: #d9b8ff; }

.header {
  margin-top: 5rem;
  margin-bottom: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center; }

main {
  min-height: 100%;
  display: grid;
  align-items: center;
  justify-items: center; }

.hero {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .hero__info {
    width: 33.8rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .hero__profile__box {
    height: 100%;
    display: flex; }
  .hero__profile__photo {
    height: 100%; }
