.btn {
  padding: 1rem 2.5rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  color: $color-white;
  border: none;
  border-radius: 50rem;
  transition: background-color 300ms ease-in-out;

  &__primary {
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-light-1;
    }
  }

  &__secondary {
    padding: 1rem 1.8rem;
    background-color: $color-secondary;
    &:hover {
      background-color: $color-secondary-light-1;
    }
  }
}
