.gallery {
  width: 69.4rem;

  display: grid;
  grid-template-columns: repeat(4, 15.9rem);
  align-content: center;
  justify-content: space-between;

  @media only screen and (max-width: 76.9em) {
    gap: 1rem;
  }

  @media only screen and (max-width: 58em) {
    width: min-content;
    justify-content: center;
    grid-template-columns: repeat(4, 13.5rem);
  }

  @media only screen and (max-width: 48em) {
    grid-template-columns: repeat(4, 10.3rem);
  }

  @media only screen and (max-width: 36.7em) {
    grid-template-columns: repeat(2, 15.3rem);
    gap: 2rem;
  }

  @media only screen and (max-width: 28.8em) {
    grid-template-columns: repeat(2, 10.3rem);
    gap: 1.5rem;
  }
  &__image-box {
    height: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }
}
