.gallery {
  width: 69.4rem;

  display: grid;
  grid-template-columns: repeat(4, 15.9rem);
  align-content: center;
  justify-content: space-between;

  @media only screen and (max-width: 58.1em) {
    width: max-content;
    grid-template-columns: repeat(4, 13.9rem);
    justify-content: start;
    gap: 1rem;
  }
  @media only screen and (max-width: 48em) {
    grid-template-columns: repeat(4, 12rem);
  }

  @media only screen and (max-width: 48em) {
    grid-template-columns: repeat(4, 10.25rem);
  }

  @media only screen and (max-width: 36.5em) {
    grid-template-columns: repeat(2, 15.25rem);
  }

  @media only screen and (max-width: 26.9em) {
    grid-template-columns: repeat(2, 9.4rem);
    gap: 1.3rem;
  }

  &__image-box {
    height: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }
}
