.feature {
  width: 33.6rem;
  height: max-content;

  @include flex-column-center;

  @media only screen and (max-width: 58.1em) {
    width: 100%;
  }

  // @media only screen and (max-width: 23.5em) {
  // }

  &__heading {
    width: 27.9rem;

    @media only screen and (max-width: 23.5em) {
      width: 20.4rem;
    }
  }

  &__paragraph {
    @media only screen and (max-width: 58.1em) {
      width: 40rem;
    }

    @media only screen and (max-width: 36.5em) {
      padding: 0 1.5rem;
      // width: 30rem;
      width: 100%;
    }
    @media only screen and (max-width: 23.5em) {
      // width: 20.4rem;
      width: 100%;
    }

    @media only screen and (max-width: 18.8em) {
      width: 100%;
    }
  }
}
