.footer {
  height: 20rem;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba($color-primary, 0.9),
      rgba($color-primary, 0.9)
    ),
    url(/src/assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include flex-center;

  @media only screen and (max-width: 58em) {
    height: 26.6rem;
  }

  &__info-box {
    width: 69.3rem;

    @include flex-center-space-between;

    @media only screen and (max-width: 58.1em) {
      width: 100%;
      height: 16.8rem;
      text-align: center;

      @include flex-column-center-space-between;
    }
  }

  &__heading {
    width: 21.9rem;
    @media only screen and (max-width: 18.8em) {
      width: 100%;
    }
  }

  &__paragraph {
    width: 21.9rem;

    @media only screen and (max-width: 18.8em) {
      width: 100%;
    }
  }
}
