.hero {
  @include flex-center-space-between;

  @media only screen and (max-width: 120em) {
    width: 100%;
  }

  @media only screen and (max-width: 62.5em) {
    @include flex-column-center;
  }

  &__info {
    width: 33.6rem;
    height: 19rem;

    @include flex-column-center-space-between;

    @media only screen and (min-width: 120em) {
      margin: 0 5rem;
    }

    @media only screen and (max-width: 62.5em) {
      width: min-content;
      margin-top: 4rem;
    }
    @media only screen and (max-width: 28.8em) {
      height: 22rem;
    }
  }

  &__heading {
    width: 27.8rem;
    @media only screen and (max-width: 23.5em) {
      width: 17rem;
    }
  }

  &__paragraph {
    width: 33.8rem;
    @media only screen and (max-width: 58.1em) {
      width: 28.5rem;
    }

    @media only screen and (max-width: 23.5em) {
      width: 23.4rem;
    }
    @media only screen and (max-width: 18.8em) {
      width: fit-content;
    }
  }

  &__btn-box {
    @include flex-center-space-between;

    @media only screen and (max-width: 28.8em) {
      height: 7.5rem;
      @include flex-column-center-space-between;
    }
  }

  &__profile__box {
    height: 100%;
    overflow: hidden;
    @media only screen and (max-width: 62.5em) {
      align-self: center;
    }

    @media only screen and (max-width: 48em) {
      width: 100%;
    }
  }

  &__profile__photo {
    width: 100%;
    height: 17rem;
    object-fit: cover;

    display: flex;

    // min width 1920
    @media only screen and (min-width: 120em) {
      object-position: 0 0;
    }

    @media only screen and (max-width: 62.5em) {
      object-position: 0 0;
    }

    @media only screen and (max-width: 48em) {
      width: 110%;
      height: 100%;
      object-fit: cover;
      object-position: -2.5rem 100%;
    }
    @media only screen and (max-width: 36.7em) {
      object-position: -1.5rem 100%;
    }
    @media only screen and (max-width: 28.8em) {
      object-position: -1rem 100%;
    }
  }
}
